<footer class="footer-content">
  <div class="footer-wrap">
    <section class="footer-top">
      <div class="footer-notice">
        <a href="/">제휴 문의</a>
        <div class="footer-spliter"></div>
        <a href="/">개인정보처리방침</a>
        <div class="footer-spliter"></div>
        <a href="/">이용약관</a>
        <div class="footer-spliter"></div>
        <a href="/">채팅 서비스 이용약관</a>
      </div>
    </section>
    <section class="footer-section__Info">
      <span class="footer-secion__Name">(주)이집어때?</span>
      <div class="footer-spliter"></div>
      <span>대표 : 박도영</span>
      <div class="footer-spliter"></div>
      <span>소재지 : 대전 대덕구 송촌동 어딘가</span>
    </section>
    <section class="footer-email">이메일 문의 : pdy1207@gmail.com</section>
    <section class="footer-section__Contact">
      <div>
        전화 문의 : 042-123-1234 (평일 : 10:00 ~ 19:00, 주말/공휴일 제외)
      </div>
      <div>이집어때? Ⓒ 2023 pdy1207</div>
    </section>
  </div>
</footer>
