<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../public/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="public/css/style.css" />
    <title>이집어때?</title>
  </head>
  <body>
    <div style="position: fixed; z-index: 1000; width: 100%">
      <header class="Header__Content">
        <div class="house-header__Box">
          <div class="house-header__Titile">
            <div class="house-logo">
              <a href="/"> <h1 class="reveal-text">이집어때?</h1></a>
            </div>
            <div class="house-search">
              <div class="house-search__Box">
                <button
                  class="house-search__Button"
                  type="button"
                  aria-label="검색하기 버튼"
                >
                  <img
                    src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/SearchQueryInput/search.png"
                    alt=""
                  /></button
                ><input
                  class="search-input"
                  placeholder="지역, 음식 또는 식당명 입력"
                  value=""
                />
              </div>
            </div>
            <div class="auth-login__Box">
              <a href="/user/<%= loginLinkTextURL.toLowerCase() %>"
                ><%= loginLinkText %></a
              >
              <a href="/user/info">마이페이지</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div>
      <div class="container-main__Title">
        <img
          class="container-image"
          sizes="1920px"
          src="./public/css/food.jpg"
        />
        <div class="container-main__Wrap">
          <div class="container-main__Box">
            <p class="container-main__First">당신을 위한</p>
            <h1 class="container-main__Second">
              <span class="container-main__Location">혼밥</span>&nbsp;추천 맛집
            </h1>
          </div>
          <div>
            <a href="/review-list" target="_blank">
              <button class="review-button">리뷰 보러 가기</button>
            </a>
          </div>
        </div>
        <a
          href="https://map.naver.com/v5/?c=15,0,0,0,dh"
          target="_blank"
          class="location-box"
          ><span class="location-box__Content"
            ><img
              class="location-box_Button"
              src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/indexPage/top__keyvisul__link__icon.png"
              alt="상단 키 비쥬얼 식당 링크 버튼 아이콘"
            />도영이찍은어딘가</span
          ></a
        >
      </div>
    </div>

    <div class="tag-list">
      <h1 class="reveal-text" style="margin: 10px; text-align: center">
        돈주고 별사는 리뷰는 이제 그만! <br />
        실시간으로 확인해보세요
      </h1>
      <div
        class="loop-slider"
        style="--duration: 16638ms; --direction: normal; width: 80%"
      >
        <div class="inner">
          <div class="tag">
            <img src="public/img/2.png" />
          </div>
          <div class="tag">
            <img src="public/img/3.png" />
          </div>
          <div class="tag">
            <img src="public/img/4.png" />
          </div>
          <div class="tag">
            <img src="public/img/5.png" />
          </div>
          <div class="tag">
            <img src="public/img/6.png" />
          </div>
          <div class="tag">
            <img src="public/img/7.png" />
          </div>
          <div class="tag">
            <img src="public/img/8.png" />
          </div>
          <div class="tag">
            <img src="public/img/9.png" />
          </div>
          <div class="tag">
            <img src="public/img/10.png" />
          </div>
          <div class="tag">
            <img src="public/img/7.png" />
          </div>
          <div class="tag">
            <img src="public/img/5.png" />
          </div>
          <div class="tag">
            <img src="public/img/6.png" />
          </div>
          <div class="tag">
            <img src="public/img/8.png" />
          </div>
          <div class="tag">
            <img src="public/img/4.png" />
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.html') %>
  </body>
</html>
