<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이집어때? | 리뷰</title>
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/review.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 리뷰 리스트 리뷰 관련 글쓰게 끔 또한 수정 및 삭제 
        마이페이지에선 내 정보 혹은 수정 
        검색기능..
    -->
    <div style="position: fixed; z-index: 1000; width: 100%">
      <header class="Header__Content">
        <div class="house-header__Box">
          <div class="house-header__Titile">
            <div class="house-logo">
              <a href="/"><h1 class="reveal-text">이집어때?</h1></a>
            </div>
            <div class="house-search">
              <div class="house-search__Box">
                <button
                  class="house-search__Button"
                  type="button"
                  aria-label="검색하기 버튼"
                >
                  <img
                    src="https://dcicons.s3.ap-northeast-1.amazonaws.com/new/images/web/react_components/SearchQueryInput/search.png"
                    alt=""
                  /></button
                ><input
                  class="search-input"
                  placeholder="지역, 음식 또는 식당명 입력"
                  value=""
                />
              </div>
            </div>
            <div class="auth-login__Box">
              <a href="/login">로그인</a>
              <a href="/MyPage">마이페이지</a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="container-wrap">
      <div>
        <div id="subleft-cont">
          <div class="mini-map">
            <div id="map2" class="map" tabindex="0">
              <div class="naver">
                <div>
                  <a
                    href="https://ssl.pstatic.net/static/maps/mantle/notice/legal.html"
                    target="_blank"
                    ><img
                      src="https://ssl.pstatic.net/static/maps/mantle/2x/naver-normal-new.png"
                      width="48"
                      height="17"
                      alt="NAVER"
                  /></a>
                </div>
              </div>
            </div>
            <a href="http://map.kakao.com/" class="delisor-search">
              <strong>'은행동'</strong>
              <br />
              <br />
              맛집 더 검색해보기
            </a>
          </div>
        </div>

        <div id="subright-cont">
          <div>
            <div class="main-content">
              <ul class="main-content__pic">
                <li class="img btn-gallery-open" data-index="0">
                  <img
                    src="https://d12zq4w4guyljn.cloudfront.net/750_750_20221101012452_photo1_94ecf3cdea70.jpg"
                    style="width: 100%; height: auto; margin-top: -55px"
                    alt="맛집 사진"
                  />
                </li>
                <li class="btn-gallery-open" data-index="1">
                  <img
                    src="https://d12zq4w4guyljn.cloudfront.net/300_300_20221101012452_photo2_94ecf3cdea70.jpg"
                    style="margin-top: -25px"
                    alt="맛집 사진"
                  />
                </li>
                <li class="btn-gallery-open" data-index="2">
                  <img
                    src="https://d12zq4w4guyljn.cloudfront.net/300_300_20220623033428587_photo_eL0L9p5ekIoZ.jpg"
                    style="margin-top: -25px"
                    alt="맛집 사진"
                  />
                </li>
                <li class="btn-gallery-open" data-index="3">
                  <img
                    src="https://d12zq4w4guyljn.cloudfront.net/300_300_20220623033428001_photo_eL0L9p5ekIoZ.jpg"
                    style="margin-top: -25px"
                    alt="맛집 사진"
                  />
                </li>
                <li class="all-pic btn-gallery-open" data-index="0">
                  <a href="JavaScript:void(0);">
                    <p class="stxt">모두보기<br />(117장)</p>
                    <img
                      src="https://d12zq4w4guyljn.cloudfront.net/300_300_20220623033428745_photo_eL0L9p5ekIoZ.jpg"
                      style="margin-top: -25px"
                      alt="맛집 사진"
                    />
                  </a>
                </li>
              </ul>
              <div class="tit-point">
                <p class="tit">내가좋아하는한옥</p>
              </div>
              <div class="btxt">
                <a>은행동</a> | <a class="btxt">파스타</a>,
                <a class="btxt"> 이탈리안레스토랑</a>
              </div>
              <div class="sns-grade">
                <p class="grade">
                  <strong
                    style="
                      font-size: 18px;
                      vertical-align: middle;
                      padding-right: 8px;
                    "
                    >74점</strong
                  >
                  <span class="point">
                    23명의 평가 <strong id="lbl_review_point">4.3점</strong>
                  </span>
                  <span id="lbl_review_star" class="star"
                    ><i style="width: 86%"></i
                  ></span>
                </p>
              </div>
              <div class="favor-pic-appra">
                <a href="JavaScript:void(0);" class="favor" value="Y"
                  ><span>좋아요(<i class="num">401</i>)</span></a
                >
                <a href="" class="share" id="Rest__Share"><span>공유</span></a>
                <button class="appra Profile__Evaluation">
                  <span>평가하기</span>
                </button>
              </div>
            </div>

            <p class="gap20"></p>

            <div class="s-list basic-info">
              <ul class="list">
                <li class="locat">
                  <a target="_blank">대전광역시</a>
                  <a target="_blank">중구</a>
                  <a target="_blank">은행동</a>
                  <span>62-1</span>
                  <a href="http://map.kakao.com/">
                    <button class="Move__Map__Button">지도보기</button>
                  </a>
                </li>
                <li class="tel">042-123-123</li>
                <li class="tag" st>
                  <a>숨은맛집</a>,
                  <a>데이트</a>
                </li>
                <li class="char">
                  <a>고급스러운</a>, <a>점심식사</a>, <a>저녁식사</a>,
                  <a>발렛</a>,
                  <a>무료주차</a>
                </li>
                <li id="Favor__User__Popup" class="favor button">
                  이 식당에 401명의 좋아요한 사용자가 있습니다.
                </li>

                <li
                  class="feedback button"
                  style="
                    background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-feedback@2x.png)
                      no-repeat left;
                    background-size: 20px;
                  "
                >
                  폐업신고 · 정보수정 제안
                </li>
              </ul>
            </div>

            <p class="gap20"></p>

            <div id="div_detail" class="s-list detail-info">
              <div class="busi-hours short">
                <p class="tit">영업시간</p>
                <ul class="list">
                  <li>
                    <p class="l-txt">토/일</p>
                    <p class="r-txt">오전 11시 30분 - 오후 8시 30분</p>
                  </li>
                  <li>
                    <p class="l-txt">월-금</p>
                    <p class="r-txt">오전 11시 30분 - 오후 9시</p>
                  </li>
                  <li>
                    <p class="l-txt">쉬는시간 매주 토/일</p>
                    <p class="r-txt">오후 3시 - 오후 4시 30분</p>
                  </li>
                  <li>
                    <p class="l-txt">쉬는시간 매주 월-금</p>
                    <p class="r-txt">오후 3시 - 오후 5시</p>
                  </li>
                </ul>
              </div>

              <p class="gap20"></p>

              <div class="menu-info short">
                <p class="tit">메뉴정보</p>
                <ul class="list Restaurant_MenuList">
                  <li>
                    <p class="l-txt Restaurant_MenuItem">
                      <span class="Restaurant_Menu">봉골레</span>
                    </p>
                    <p class="r-txt Restaurant_MenuPrice">25,000원</p>
                  </li>
                </ul>
              </div>

              <div class="taste-tag">
                <p class="tit">맛집태그</p>
              </div>
              <div class="tr_hashTag_area">
                <p><strong>해시태그 구현</strong></p>
                <div class="form-group">
                  <input type="hidden" value="" name="tag" id="rdTag" />
                </div>

                <ul id="tag-list"></ul>

                <div class="form-group">
                  <input
                    type="text"
                    id="tag"
                    size="7"
                    placeholder="엔터로 해시태그를 등록해주세요."
                    style="width: 300px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-content" style="top: 35px">
      <div class="footer-wrap">
        <section class="footer-top">
          <div class="footer-notice">
            <a href="/">제휴 문의</a>
            <div class="footer-spliter"></div>
            <a href="/">개인정보처리방침</a>
            <div class="footer-spliter"></div>
            <a href="/">이용약관</a>
            <div class="footer-spliter"></div>
            <a href="/">채팅 서비스 이용약관</a>
          </div>
        </section>
        <section class="footer-section__Info">
          <span class="footer-secion__Name">(주)이집어때?</span>
          <div class="footer-spliter"></div>
          <span>대표 : 박도영</span>
          <div class="footer-spliter"></div>
          <span>소재지 : 대전 대덕구 송촌동 어딘가</span>
        </section>
        <section class="footer-email">이메일 문의 : pdy1207@gmail.com</section>
        <section class="footer-section__Contact">
          <div>
            전화 문의 : 042-123-1234 (평일 : 10:00 ~ 19:00, 주말/공휴일 제외)
          </div>
          <div>이집어때? Ⓒ 2023 pdy1207</div>
        </section>
      </div>
    </footer>

    <script>
      $(document).ready(function () {
        var tag = {};
        var counter = 0;

        // 입력한 값을 태그로 생성한다.
        function addTag(value) {
          tag[counter] = value;
          counter++; // del-btn 의 고유 id 가 된다.
        }

        // tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
        function marginTag() {
          return Object.values(tag).filter(function (word) {
            return word !== "";
          });
        }

        // 서버에 제공
        $("#tag-form").on("submit", function (e) {
          var value = marginTag(); // return array
          $("#rdTag").val(value);

          $(this).submit();
        });

        $("#tag").on("keypress", function (e) {
          var self = $(this);

          //엔터나 스페이스바 눌렀을때 실행
          if (e.key === "Enter" || e.keyCode == 32) {
            var tagValue = self.val(); // 값 가져오기

            // 해시태그 값 없으면 실행X
            if (tagValue !== "") {
              // 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
              var result = Object.values(tag).filter(function (word) {
                return word === tagValue;
              });

              // 해시태그가 중복되었는지 확인
              if (result.length == 0) {
                $("#tag-list").append(
                  "<li class='tag-item'>" +
                    tagValue +
                    "<span class='del-btn' idx='" +
                    counter +
                    "'>x</span></li>"
                );
                addTag(tagValue);
                self.val("");
              } else {
                alert("태그값이 중복됩니다.");
              }
            }
            e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
          }
        });

        // 삭제 버튼
        // 인덱스 검사 후 삭제
        $(document).on("click", ".del-btn", function (e) {
          var index = $(this).attr("idx");
          tag[index] = "";
          $(this).parent().remove();
        });
      });
    </script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbbd5cd53c7588e501aae9ea713ff10"
    ></script>
    <script>
      var mapContainer = document.getElementById("map2"), // 지도를 표시할 div
        mapOption = {
          center: new kakao.maps.LatLng(37.54699, 127.09598), // 지도의 중심좌표
          draggable: false,
          level: 4, // 지도의 확대 레벨
        };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });

      var markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition,
      });

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);

      document.querySelector("#map2").addEventListener("click", function () {
        var center = map.getCenter();

        // 검색어를 포함한 카카오 맵 URL을 생성합니다
        var mapUrl = `https://map.kakao.com/link/search/${encodeURIComponent(
          "대전 중구은행동"
        )}?map_type=DEFAULT&mapX=${center.getLng()}&mapY=${center.getLat()}&q=${encodeURIComponent(
          "대전 중구은행동"
        )}`;

        // 새 창에서 카카오 맵을 엽니다
        window.open(mapUrl, "_blank");
      });
    </script>
  </body>
</html>
