.container {
  display: flex;
  align-items: center;
}
.row {
  width: 960px;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.login {
  width: 66%;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 5%;
}
.title {
  padding: 50px 12px 25px 12px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}
.title-under {
  padding: 24px 0;
  font-weight: bold;
  font-size: 15px;
}
.input-text {
  width: 100%;
  height: 40px;
  border: 1px solid #d5d5d5;
  font-size: 13px;
  line-height: 1.5;
  padding-left: 10px;
}
.btn-login {
  background-color: var(--font);
  color: #fff;
  border: none;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 13px;
}
.box-membership {
  margin: 24px 0 24px 0;
  padding: 24px 0;
  border: 1px solid #e0e0e0;
  line-height: 24px;
}
.box-membership > span {
  font-weight: bold;
  font-size: 15px;
}
.btn-membership {
  margin-top: 12px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  color: #222;
}
.login-box {
  padding: 24px 0px;
}
