@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&family=Dongle:wght@300&family=Yeon+Sung&display=swap");

body {
  background: #f9fafb;
  font-family: "Yeon Sung", cursive;
}
#container-wrap {
  padding-top: 100px;
  max-width: 940px;
  margin: 0 auto;
}

#subleft-cont {
  float: left;
  width: 25%;
}
#subright-cont {
  width: 700px;
  float: right;
}
#map2 {
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.mini-map {
  padding: 10px 10px 0px 10px;
  background: #fff;
  box-shadow: 0px 1px 3px #d8d8d8;
}

.mini-map .delisor-search {
  padding: 20px 0;
  display: block;
  margin: 0px 10px;
  font-size: 15px;
  color: #66666e;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Sub/minimap-more.png)
    no-repeat right;
}
.naver {
  position: absolute;
  z-index: 100;
  margin: 0px;
  padding: 0px;
  pointer-events: none;
  bottom: 0px;
  right: 0px;
}
.naver > div {
  border: 0px none;
  margin: 0px;
  padding: 0px;
  pointer-events: none;
  float: right;
  height: 22px;
}
.naver > div > a {
  display: block;
  width: 48px;
  height: 17px;
  overflow: hidden;
  margin: 0px 5px 5px 12px;
  pointer-events: auto;
}
.naver > div > a > img {
  display: block;
  width: 48px;
  height: 17px;
  overflow: hidden;
  border: 0 none;
  margin: 0;
  padding: 0;
  max-width: none !important;
  max-height: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
}
.main-content {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 3px #d8d8d8;
}
.main-content .main-content__pic {
  overflow: hidden;
  margin-bottom: 28px;
}
.main-content .btxt {
  font-size: 16px;
  color: #66666e;
  line-height: 100%;
  margin-bottom: 20px;
}
.main-content .sns-grade {
  overflow: hidden;
  margin-bottom: 20px;
}
.main-content .favor-pic-appra {
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid #e6e6eb;
  font-size: 0px;
}
.main-content .main-content__pic li.img {
  width: 330px;
  height: 187px;
}

.main-content .main-content__pic li {
  width: 165px;
  height: 110px;
  overflow: hidden;
  float: left;
}
.main-content .main-content__pic li.all-pic {
  position: relative;
  background: #000;
}
.main-content .main-content__pic li img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a {
  color: inherit;
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
}
.main-content .main-content__pic li.all-pic .stxt {
  position: absolute;
  top: 35px;
  left: 0px;
  font-size: 13px;
  color: #fff;
  line-height: 140%;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.main-content .main-content__pic li:hover img {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  /* -webkit-transform: scale(1.1, 1.1); */
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
}

.main-content .tit-point {
  overflow: hidden;
  margin-bottom: 15px;
}

.main-content .tit-point .tit {
  font-size: 35px;
  color: #222228;
  line-height: 44px;
  font-weight: 300;
  float: left;
  letter-spacing: -0.095px;
}
.main-content .btxt {
  font-size: 16px;
  color: #66666e;
  line-height: 100%;
  margin-bottom: 20px;
}
.main-content .sns-grade .grade .point {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #66666e;
  margin-right: 5px;
}
.main-content .sns-grade .grade .point strong {
  color: #222228;
  font-weight: 600;
}
.main-content .sns-grade .grade .star {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-off@2x.png)
    repeat-x left;
  background-size: 25px;
  vertical-align: middle;
}
.main-content .sns-grade .grade .star i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png)
    repeat-x left;
  background-size: 25px;
}
.main-content .icons .deli {
  font-size: 11px;
  background: #2483ff;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 0px 7px;
  margin-right: 3px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: 400;
}
.main-content .icons .disc {
  font-size: 11px;
  background: #fc39a7;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 0px 7px;
  margin-right: 3px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: 400;
}
.main-content .icons .years {
  font-size: 11px;
  background: #ffa024;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  padding: 0px 7px;
  margin-right: 3px;
  border-radius: 2px;
  vertical-align: top;
  font-weight: 400;
}

.main-content .tit-point {
  overflow: hidden;
  margin-bottom: 15px;
}
.main-content .tit-point .tit {
  font-size: 35px;
  color: #222228;
  line-height: 44px;
  float: left;
  letter-spacing: -0.095px;
}
.main-content .tit-point .point {
  font-size: 18px;
  color: #222228;
  line-height: 44px;
  font-weight: 600;
  float: right;
}

.main-content .btxt {
  font-size: 16px;
  color: #66666e;
  line-height: 100%;
  margin-bottom: 20px;
}

.main-content .sns-grade {
  overflow: hidden;
  margin-bottom: 20px;
}
.main-content .sns-grade .sns-share {
  padding-left: 35px;
  font-size: 13px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/sns-share.png)
    no-repeat left;
  line-height: 30px;
  display: block;
  float: left;
  margin-right: 20px;
}
.main-content .sns-grade .kakao-share {
  padding-left: 35px;
  font-size: 13px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/kakao-share.png)
    no-repeat left;
  line-height: 30px;
  display: block;
  float: left;
}
.main-content .sns-grade .grade .point {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  color: #66666e;
  margin-right: 5px;
}
.main-content .sns-grade .grade .point strong {
  color: #222228;
  font-weight: 600;
}
.main-content .sns-grade .grade .rateyo {
  display: inline-block;
  vertical-align: middle;
  width: 133px !important;
}
.main-content .sns-grade .grade .rateyo svg {
  width: 25px;
  height: 25px;
}
.main-content .sns-grade .grade .star {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-off@2x.png)
    repeat-x left;
  background-size: 25px;
  vertical-align: middle;
}
.main-content .sns-grade .grade .star i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/rating-on@2x.png)
    repeat-x left;
  background-size: 25px;
}
.main-content .sns-grade .grade .star i.few {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/rating-on-dim.png)
    repeat-x left;
  background-size: 25px;
}

.main-content .favor-pic-appra {
  overflow: hidden;
  padding-top: 20px;
  border-top: 1px solid #e6e6eb;
  font-size: 0px;
}
.main-content .favor-pic-appra .favor {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  margin-right: 10px;
  float: left;
}
.main-content .favor-pic-appra .favor span {
  font-size: 13px;
  padding: 2px 0 3px 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/like-off@2x.png)
    no-repeat left;
  background-size: 20px;
}
.main-content .favor-pic-appra .favor:hover {
  border: 1px solid #ee4949;
}
.main-content .favor-pic-appra .favor:hover span {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/like-on@2x.png)
    no-repeat left;
  background-size: 20px;
}
.main-content .favor-pic-appra .favor.on {
  border: 1px solid #ee4949;
}
.main-content .favor-pic-appra .favor.on span {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/like-on@2x.png)
    no-repeat left;
  background-size: 20px;
}
.main-content .favor-pic-appra .pic {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  margin-right: 10px;
  float: left;
}
.main-content .favor-pic-appra .pic span {
  font-size: 13px;
  padding: 2px 0 3px 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/addphoto@2x.png)
    no-repeat left;
  background-size: 20px;
}
.main-content .favor-pic-appra .share {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  float: left;
}
.main-content .favor-pic-appra .share span {
  font-size: 13px;
  padding: 2px 0 3px 25px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/share@2x.png)
    no-repeat left;
  background-size: 20px;
}

.main-content .favor-pic-appra .appra {
  display: inline-block;
  line-height: 32px;
  padding: 2px 18px 0px 18px;
  border: 1px solid #222228;
  border-radius: 20px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
  background: transparent;

  height: 40px;
}
.main-content .favor-pic-appra .appra span {
  font-size: 13px;
  padding: 2px 0 3px 25px;

  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/review@2x.png)
    no-repeat left;
  background-size: 20px;
}
.main-content .favor-pic-appra .appra:hover {
  border: none;
  border: 1px solid #ff7400;
  color: #ff7400;
}
#Rest__Share:hover {
  border: 1px solid #ff7400;
  color: #ff7400;
}

.main-content .favor-pic-appra .appra.active {
  border: 1px solid #ff7400;
  color: #ff7400;
}

/*기본정보*/
.s-list.basic-info {
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 3px #d8d8d8;
}

.s-list.basic-info .tit {
  font-size: 24px;
  color: #222228;
  line-height: 120%;
  margin-bottom: 20px;
  font-weight: 600;
}
.s-list.basic-info .list li {
  margin-bottom: 15px;
  font-size: 15px;
  color: #222228;
  padding: 0px 25px;
}
.s-list.basic-info .list li:last-child {
  margin-bottom: 0px;
}
.s-list.basic-info .list li.owner {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/list-que@2x.png)
    no-repeat left;
  background-size: 20px;
}
.s-list.basic-info .list li.locat {
  position: relative;

  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-location@2x.png)
    no-repeat left;
  background-size: 20px;
}

.Move__Map__Button {
  position: absolute;
  top: -6px;
  right: 0;
  padding: 6px 12px;
  border-radius: 6px;
  background-color: var(--font);
  border: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.7px;
  color: #fff;
}

.s-list.basic-info .list li.tel {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-pnum@2x.png)
    no-repeat left;
  background-size: 20px;
}
.s-list.basic-info .list li.tag {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-tag@2x.png)
    no-repeat left;
  background-size: 20px;
}
.s-list.basic-info .list li.char {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/profile/profile-benefit@2x.png)
    no-repeat left;
  background-size: 20px;
}
.s-list.basic-info .list li.favor {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/like-on@2x.png)
    no-repeat left;
  background-size: 20px;
}
.s-list.basic-info .list li span.link {
  vertical-align: -4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more@2x.png)
    no-repeat left;
  background-size: 20px;
  font-size: 15px;
}
/*상세정보*/
.s-list.detail-info {
  position: relative;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 1px 3px #d8d8d8;
  margin-bottom: 15px;
}

/*상세정보 영업시간*/
.s-list.detail-info .busi-hours {
  border-bottom: 1px solid #e6e6eb;
  padding-bottom: 20px;
}
.s-list.detail-info .busi-hours .tit {
  font-size: 24px;
  color: #222228;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 20px;
}

.s-list.detail-info .busi-hours .list li {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/dash-line.jpg)
    repeat-x center;
  height: 15px;
  margin-bottom: 10px;
}
.s-list.detail-info .busi-hours .list li .l-txt {
  float: left;
  font-size: 15px;
  background: #fff;
  padding-right: 10px;
  color: #222228;
}
.s-list.detail-info .busi-hours .list li .r-txt {
  float: right;
  font-size: 15px;
  background: #fff;
  padding-left: 10px;
  color: #222228;
}
.s-list.detail-info .busi-hours .more-btn span {
  font-size: 13px;
  color: #222228;
  padding-right: 20px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more-up@2x.png)
    no-repeat right;
  background-size: 20px;
}
.s-list.detail-info .busi-hours.short .more-btn span {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more-down@2x.png)
    no-repeat right;
  background-size: 20px;
}

/*상세정보 메뉴정보*/
.s-list.detail-info .menu-info {
  border-bottom: 1px solid #e6e6eb;
  padding-bottom: 20px;
}
.s-list.detail-info .menu-info .tit {
  font-size: 24px;
  color: #222228;
  line-height: 120%;
  margin-bottom: 20px;
}
.s-list.detail-info .menu-info .list {
  height: auto;
  overflow: hidden;
}

.s-list.detail-info .menu-info .list li {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/dash-line.jpg)
    repeat-x center;
  overflow: hidden;
  margin-bottom: 10px;
}
.s-list.detail-info .menu-info .list li .l-txt {
  float: left;
  font-size: 15px;
  background: #fff;
  padding-right: 10px;
  color: #222228;
}
.s-list.detail-info .menu-info .list li .l-txt .icon {
  line-height: 18px;
  border: 1px solid #222228;
  border-radius: 2px;
  font-size: 12px;
  padding: 0px 10px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.s-list.detail-info .menu-info .list li .r-txt {
  float: right;
  font-size: 13px;
  background: #fff;
  padding-left: 10px;
  color: #222228;
}
.s-list.detail-info .menu-info .more-btn span {
  font-size: 13px;
  color: #222228;
  padding-right: 20px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more-up@2x.png)
    no-repeat right;
  background-size: 20px;
}
.s-list.detail-info .menu-info.short .more-btn span {
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more-down@2x.png)
    no-repeat right;
  background-size: 20px;
}

.menu-list {
  max-height: 185px;
  overflow: auto;
}
.menu-list li {
  width: 400px;
  background: url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/dash-line.jpg)
    repeat-x center;
  overflow: hidden;
  margin-bottom: 10px;
}
.menu-list li .l-txt {
  float: left;
  font-size: 13px;
  background: #fff;
  padding-right: 10px;
  color: #222228;
}
.menu-list li .l-txt .icon {
  line-height: 18px;
  border: 1px solid #222228;
  border-radius: 2px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.menu-list li .r-txt {
  float: right;
  font-size: 13px;
  background: #fff;
  padding-left: 10px;
  color: #222228;
}

/*상세정보 맛집태그*/
.s-list.detail-info .taste-tag {
  padding-bottom: 20px;
}
.s-list.detail-info .taste-tag .tit {
  font-size: 24px;
  color: #222228;
  line-height: 120%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.gap20 {
  padding-bottom: 20px;
}

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 31%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-color: #ff7400;
  border-radius: 15px;
}

.close {
  float: right;
  cursor: pointer;
}

.star-cb-group {
  font-size: 0;
  display: inline-block;
}

.star-cb-group * {
  font-size: 3rem;
}

.star-cb-group {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star-cb-group > input {
  display: none;
}

.star-cb-group > input + label {
  display: inline-block;
  overflow: hidden;
  width: 0.9em;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin: 5px 10px;
}

.star-cb-group > input + label:before {
  display: inline-block;
  content: "\2606"; /* 빈 별 아이콘 */
  color: #888;
}

.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
  content: "\2605"; /* 채워진 별 아이콘 */
  color: #2483ff;
  text-shadow: 0 0 1px #333;
}

/* timeline */
.timeline {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-item {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
}

.timeline-content h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.timeline-content p {
  font-size: 0.8rem;
}

.timeline-box {
  display: flex;
  justify-content: space-between;
}
.timeline-box > p {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.star {
  color: #2483ff; /* 별 색상을 골드로 설정 */
  font-size: 24px; /* 별 크기 설정 */
  margin-right: 5px; /* 별 간격 설정 */
}
.timeline-box__star {
  display: flex;
  align-items: center;
}
.box-star__title {
  margin-left: 20px;
  font-size: 18px !important;
}
.timeline-delbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* 3 */
.btn-3 {
  background: red;
  background: linear-gradient(0deg, red 0%, red 100%);
  width: 37px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-3 span {
  font-size: 12px;
}

.btn-3:hover {
  background: #fff;
  color: rgba(2, 126, 251, 1);
  transition: all 0.5s;
}
.file {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 28px;
}

.file > input[type="file"] {
  display: none;
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: #ff7400;
  border-color: #ff7400;
}

.file--upload > label:hover {
  border-color: #ff7400;
  background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}
#reviewText {
  width: 100%;
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  border: 1px solid #dfdfdf;
  padding: 17px 20px;
}
#reviewText::placeholder {
  text-align: center;
}

#preview {
  justify-content: center;
  display: none;
  max-width: 100%;
  max-height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 36px;
}
.review-title {
  font-family: font;
  background: linear-gradient(45deg, #ffa500, #4169e1);
  -webkit-background-clip: text; /* 웹킷 브라우저 지원 */
  background-clip: text;
  color: transparent;
  font-size: 36px; /* 원하는 크기로 설정 */
  font-weight: bold; /* 원하는 글꼴 두께로 설정 */
}
.rating {
  margin: 14px;
}

#lbl_limit {
  text-align: right !important;
  display: flex;
  padding-top: 10px;
}
#submitReview {
  color: #ff7400;
  border: 1px solid #ff7400;
  background: transparent;
  padding: 17px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 13px;
}
#submitReview:hover {
  background-color: hsl(204, 86%, 96%);
}
